<title>Вход</title>

<body>
    <form name="f1" method="post" action="LoginProcess">
        <input name="link" type="hidden" value="" />
        Логин: <br />
        <input name="login" type="text" size="25" maxlength="30" value="" /> <br />
        Пароль: <br />
        <input name="password" type="text" size="25" maxlength="30" value="" /> <br />
        <input name="remember" type="checkbox" value="yes" /> Запомнить <br />
        <input type="submit" name="enter" value="Вход" />
    </form>
</body>
</html>