@{
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    ViewBag.Title = "Вход";
}

@section scripts
{
    <script>
        Ext.onReady(function () {
            var formPanel = Ext.create('Ext.form.Panel', {
                xtype: 'form-login',
                title: 'Авторизация',
                width: 280,
                bodyPadding: 10,
                renderTo: Ext.getBody(),
                margin:20,
                items: [{
                    xtype: 'textfield',
                    fieldLabel: 'Логин',
                    name: 'login'
                }, {
                    xtype: 'textfield',
                    fieldLabel: 'Пароль',
                    name: 'password',
                    inputType: 'password'
                }, {
                    xtype: 'checkbox',
                    fieldLabel: 'Запомнить пароль',
                    name: 'remember'
                }, {
                    xtype: 'label',
                    html: ['<a href="#">Забыли пароль?</a>'],
                    padding:'5 5 5 105'
                }],
                
                // кнопки формы
                buttons: [{
                    text: 'Войти',
                    handler: function () {
                        // действие входа
                       
                    }
                }
                ]
            });
        });
    </script>
}

