@model UI.Models.VKUserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "VK feed";
}
<table>
    @foreach (var tweet in Model.feed.Values)
    {
        <tr>
            <td>
                <img src="@tweet.AuthorProfileImageUrl" />
            </td>

            <td>
                <font size="3" face="Arial">
                    @tweet.AuthorScreenName<br />
                    @Html.Raw(tweet.TextAsHtml)<br />
                </font>
                @if (!tweet.Image.Equals(""))
                {
                    <img src="@tweet.Image"/>
                    <br />
                }
                <br />
            </td>

        </tr>
    }
</table>



