body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/*Added styles
 -----------------------------------------------------------*/
html, body {
	margin:0px;
	padding:0px;
}
body, input, select, textarea {
	background-color: #ffffff;
}
td, input, select, textarea {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	vertical-align: top; 
}
td {
	padding: 0px;
}
table.main {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
td.top {
	/*background-image: url(top_bg.jpg);*/
	height: 50px;
}
td.logo {
	width: 100%;
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
}
td.search {
	
	background-color: #dce1e9;
	height: 39px;
}
td.topmenu {
	background-image: url(topmenu_bg.jpg);
	background-color: #ff8e51;
}
td.searchitem {
	vertical-align: middle;
	text-align: center;
	padding-right: 11px;
}
form {
	margin: 0px;
}
td.hdr {
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	background-image: url(dots.gif);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 21px;
}
td.menuitem {
	vertical-align: middle;
	text-align: center;
	width: 20%;
	background-image: url(menuitem_bg.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
a.menu {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
}
td.news {
	width: 30%;
}
td.text {
	width: 70%;
	height: 400px;
}
td.copyright {
}
td.bottommenu {
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
